.layout {
  min-height: 100vh;
}

.logo {
  height: 32px;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  margin-top: 70px;
  width: 100px;
}

.myProfile{
  float: right;
  margin-right: 20px;
  list-style-type: none; /* Remove bullets */
}

.myProfile a{
  color: black;
  font-weight: 600;
}

nz-header {
  position: sticky;
  top: 0;
  z-index: 1000; /* keep it above content */
  background: #fff; /* or dark if you prefer */
  padding: 0 16px;
}

nz-content {
  margin: 24px 16px 0;
  flex: 1; /* take remaining space */
  overflow: hidden; /* prevent double scroll */
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.navItems{
  margin-top: 100px;
}
/*--------*/
.layout {
  min-height: 100vh; /* full height */
}

.fixed-sider {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: 1000;
}

.main-layout {
  margin-left: 200px; /* same as sider width */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.inner-content {
  padding: 24px;
  overflow-y: auto; /* scroll only content */
  flex: 1;          /* take remaining space */
}
