.layout {
  min-height: 100vh;
}

.logo {
  height: 32px;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  margin-top: 20px;
  width: 60px;
}

hr{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 40px 20px 0 20px;
}

.myProfile{
  float: right;
  margin-right: 20px;
  list-style-type: none; /* Remove bullets */
}

.myProfile a{
  color: black;
  font-weight: 600;
}

nz-header {
  position: sticky;
  top: 0;
  z-index: 1000; /* keep it above content */
  background: #fff; /* or dark if you prefer| #A1C4E3 */
  /*background-image: linear-gradient(to right, #001529, #A1C4E3);*/
  padding: 0 16px;
  /*margin: 4px 15px 0 15px;
  border-radius: 5px;*/
}

nz-content {
  margin: 24px 16px 0;
  flex: 1; /* take remaining space */
  overflow: hidden; /* prevent double scroll */
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.navItems{
  margin-top: 50px;
}
/*--------*/
.layout {
  min-height: 100vh; /* full height */
}

.fixed-sider {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: 1000;
  /*background-image: linear-gradient(to bottom, #001529, #A1C4E3);*/
}

.main-layout {
  margin-left: 200px; /* same as sider width */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.inner-content {
  padding: 24px;
  overflow-y: auto; /* scroll only content */
  flex: 1;          /* take remaining space */
}

