<p>campaigns works!</p>
<!--@for (campaign of campaigns; track campaign.id){
  <div>
    <ul>
      <li>{{campaign.title}}</li>
    </ul>
  </div>
} @empty {
  <h1>Aucune campaign n'est trouvé</h1>
}-->

<!--Table of campaigns-->
<nz-table [nzData]="campaigns" [nzBordered]="true" [nzSize]="'middle'">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Images</th>
  </tr>
  </thead>
  <tbody>
    @for (campaign of campaigns; track campaign.id) {
      <tr>
        <td>{{campaign.id}}</td>
        <td>{{campaign.title}}</td>
        <td>{{campaign.description}}</td>
        <td>
          <ng-container *ngFor="let img of campaign.imagesPath">
            <img [src]="img" width="60" alt="Image" style="margin-right: 5px; border-radius: 5px;" />
          </ng-container>
        </td>
      </tr>
    }
  </tbody>
</nz-table>

<!--<nz-carousel [nzEffect]="effect">
  @for (campaign of campaigns; track campaign.id) {
    <div nz-carousel-content>
      <h3>{{ campaign.imagesPath }}</h3>
    </div>
  }
</nz-carousel>-->

<button nz-button nzType="primary" (click)="openCreateForm()" style="align-items: center"><nz-icon nzType="plus" />Create Campaign</button>
@if (formVisible) {
  <div>
    <app-create-campaign>
    </app-create-campaign>
  </div>
}



<nz-row [nzGutter]="16">
  @for (campaign of campaigns; track campaign.id) {
    <nz-col [nzSpan]="8">
      <nz-card [nzTitle]="campaign.title" [nzBordered]="true">
        <nz-carousel [nzEffect]="'scrollx'" [nzDotPosition]="'bottom'">
          @for (image of campaign.imagesPath; track image) {
            <div nz-carousel-content>
              <img
                [src]="image"
                alt="campaign image"
                style="width: 100%; height: 200px; object-fit: cover;"
              />
            </div>
          }
        </nz-carousel>


        <p style="margin-top: 1rem;">{{ campaign.description }}</p>
        <button nz-button nzType="link" (click)="openUpdateForm(campaign)"><nz-icon nzType="edit"/> Edit</button>
        <button nz-button nzType="link" nzDanger (click)="deleteCampaign(campaign)"><nz-icon nzType="delete" /> Delete</button>
      </nz-card>
    </nz-col>
  }
</nz-row>

