<!-- First dropdown: choose type -->
<nz-tabs>
  <!--Tab 1-->
  <nz-tab nzTitle="Statistics">
    Content of Tab Pane 1
  </nz-tab>

  <!-- Tab 2-->
  <nz-tab nzTitle="Campaigns">
    <button nz-button nz-dropdown [nzDropdownMenu]="campaignsMenu">
      Select Campaign
      <nz-icon nzType="down"></nz-icon>
    </button>
    <!-- 2-b) Display the campaigns/activities titles-->
    <nz-dropdown-menu #campaignsMenu="nzDropdownMenu">
      <ul nz-menu>
        @for (item of campaigns; track item.id){
          <li nz-menu-item (click)="onSelectedItem(item)">{{item.title}}</li>
        }
      </ul>
    </nz-dropdown-menu>

    <!--Table of campaigns-->
    @if (selectedItem)
    {
    <div style="margin-top: 30px;">
      <nz-table [nzData]="campaigns" [nzBordered]="true" [nzSize]="'small'" style="max-width: 60%">
        <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
            <tr>
              <td>{{selectedItem.id}}</td>
              <td>{{selectedItem.title}}</td>
              <td>{{selectedItem.description}}</td>
            </tr>
        </tbody>
      </nz-table>
    </div>

      <button nz-button nzType="primary" (click)="openStatisticForm()">
        {{hasStatistics? 'Add': 'Create'}} new statistic
      </button>

      <!-- Case 2: If no statistics exist, show dynamic form -->
      @if (isVisible && !hasStatistics){
        <div style="margin-top: 20px;">

          <form [formGroup]="statisticForm" (ngSubmit)="onSubmit()">

            <input type="date" formControlName="yearEdition" />

            <div formArrayName="attributes">
              @for (attr of attributes.controls; track $index) {
                <div [formGroupName]="$index" class="attribute-row">
                  <input nz-input placeholder="Attribute Name" formControlName="attributeName" style="width: 40%; margin-right: 10px;" />
                  <input nz-input placeholder="Attribute Value" formControlName="attributeValue" style="width: 40%; margin-right: 10px;" />
                  <button nz-button nzType="default" (click)="removeAttribute($index)" type="button">Remove</button>
                </div>
              }
            </div>

            <button nz-button nzType="dashed" (click)="addAttribute()" type="button" style="margin-top: 10px;">+ Add Attribute</button>

            <div style="margin-top: 15px;">
              <button nz-button nzType="primary" htmlType="submit">Save Statistic</button>
              <button nz-button nzType="default" (click)="cancelStatisticForm()" style="margin-left: 20px">Cancel</button>
            </div>
          </form>

        </div>
      }
    }

  </nz-tab>

  <!-- Tab 3 -->
  <nz-tab nzTitle="Activities">
    <button nz-button nz-dropdown [nzDropdownMenu]="acitivitiesMenu">
      Select Activity
      <nz-icon nzType="down"></nz-icon>
    </button>
    <!-- 2-b) Display the campaigns/activities titles-->
    <nz-dropdown-menu #acitivitiesMenu="nzDropdownMenu">
      <ul nz-menu>
        @for (activity of activities; track activity.id){
          <li nz-menu-item >{{activity.title}}</li>
        }
      </ul>
    </nz-dropdown-menu>
  </nz-tab>
</nz-tabs>

<!-- Dropdown for items -->
<!--<nz-dropdown-menu #itemMenu="nzDropdownMenu">
  <ul nz-menu>
    @for (item of filteredList; track item.id) {
      <li nz-menu-item (click)="onSelectedItem(item)">
        {{ item.title }}
      </li>
    }
  </ul>
</nz-dropdown-menu>-->







