<!-- First dropdown: choose type -->
<nz-tabs>
  <!--Tab 1-->
  <nz-tab nzTitle="Statistics">
    <!--Campaign statistics table-->
    <div style="margin-top: 30px;">
      <nz-table [nzBordered]="true" [nzSize]="'small'" style="max-width: 90%" class="statistic-table">
        <thead>
          <tr>
            <th>Campaign ID</th>
            <th>Campaign Title</th>
            <th>Statistic Id</th>
            <th>Year Edition</th>
            <th>Attributes</th>
          </tr>
        </thead>
        <tbody>
            @for (stat of statistics; track stat.id) {
              <tr>
                @if (stat.compaignTitle != null){
                  <td>{{ stat.compaignId }}</td>
                  <td>{{ stat.compaignTitle }}</td>
                  <td>{{ stat.id }}</td>
                  <td>{{ stat.yearEdition | date:'yyyy-MM-dd' }}</td>
                  <td>
                    <ul style="margin: 0; padding-left: 16px;">
                      @for (attr of stat.attributes; track attr.id) {
                        <li>{{ attr.attributeName }} : {{ attr.attributeValue }}</li>
                      }
                    </ul>
                  </td>
                }

              </tr>
            }
        </tbody>
      </nz-table>
    </div>

    <!-- Activity statistics table-->
    <div style="margin-top: 30px;">
      <nz-table [nzBordered]="true" [nzSize]="'small'" style="max-width: 90%" class="statistic-table">
        <thead>
        <tr>
          <th>Activity ID</th>
          <th>Activity Title</th>
          <th>Statistic Id</th>
          <th>Year Edition</th>
          <th>Attributes</th>
        </tr>
        </thead>
        <tbody>
          @for (statActivity of statistics; track statActivity.id) {
            <tr>
              @if (statActivity.activityTitle != null){
                <td>{{ statActivity.activityId }}</td>
                <td>{{ statActivity.activityTitle }}</td>
                <td>{{ statActivity.id }}</td>
                <td>{{ statActivity.yearEdition | date:'yyyy-MM-dd' }}</td>
                <td>
                  <ul style="margin: 0; padding-left: 16px;">
                    @for (attr of statActivity.attributes; track attr.id) {
                      <li>{{ attr.attributeName }} : {{ attr.attributeValue }}</li>
                    }
                  </ul>
                </td>
              }

            </tr>
          }
        </tbody>
      </nz-table>
    </div>

  </nz-tab>


  <!-- Tab 2-->
  <nz-tab nzTitle="Campaigns">
    <button nz-button nz-dropdown [nzDropdownMenu]="campaignsMenu">
      Select Campaign
      <nz-icon nzType="down"></nz-icon>
    </button>
    <!-- 2-b) Display the campaigns/activities titles-->
    <nz-dropdown-menu #campaignsMenu="nzDropdownMenu">
      <ul nz-menu>
        @for (item of campaigns; track item.id){
          <li nz-menu-item (click)="onSelectedItem(item)">{{item.title}}</li>
        }
      </ul>
    </nz-dropdown-menu>

    <!--Display the table of the selected camapaign + the 'add/create stat' btn-->
    @if (selectedItem)
    {
      <div style="margin-top: 30px; display: flex; gap: 20px; align-items: flex-start">
        <!--1st table: campaign table-->
        <nz-table [nzBordered]="true" [nzSize]="'small'" style="max-width: 60%" class="statistic-table">
          <thead>
            <tr>
              <th>Campaign ID</th>
              <th>Campaign Title</th>
              <th>Campaign Description</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>{{selectedItem.id}}</td>
                <td>{{selectedItem.title}}</td>
                <td>{{selectedItem.description}}</td>
              </tr>
          </tbody>
        </nz-table>

        <!--2nd table: Statstic Tab-->
        <nz-table [nzBordered]="true" [nzSize]="'small'" style="max-width: 60%" class="statistic-table">
          <thead>
          <tr>
            <th>Statistic ID</th>
            <th>Year of Edition</th>
            <th>Attributes</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            @for (stat of statistics; track stat.id) {
              @if (stat.compaignId == selectedItem.id){
                <tr>
                  <td>{{ stat.id }}</td>
                  <td>{{ stat.yearEdition | date:'yyyy-MM-dd' }}</td>
                  <td>
                    <ul style="margin: 0; padding-left: 16px;">
                      @for (attr of stat.attributes; track attr.id) {
                        <li>{{ attr.attributeName }} : {{ attr.attributeValue }}</li>
                      }
                    </ul>
                  </td>
                  <td>
                    <button nz-button nzType="default" nzDanger (click)="deleteStatistic(stat.id)" class="remove-stat-btn">
                      Remove
                    </button>
                  </td>
                </tr>
              }
            }
          </tbody>
        </nz-table>
      </div>

      <button nz-button nzType="primary" (click)="openStatisticForm()" class="ant-btn-primary">
        {{hasStatistics? 'Add': 'Create'}} new statistic
      </button>

      <!-- Case 1: Show -the same- dynamic form weither a previous stat exists or not -->
      @if (isVisible){
        <div style="margin-top: 20px;">
          <form [formGroup]="statisticForm" (ngSubmit)="onSubmit()">

            <input type="date" formControlName="yearEdition" class="editionDate-input"/>

            <div formArrayName="attributes">
              @for (attr of attributes.controls; track $index) {
                <div [formGroupName]="$index" class="attribute-row">
                  <input nz-input placeholder="Attribute Name" formControlName="attributeName"/>
                  <input nz-input placeholder="Attribute Value" formControlName="attributeValue"/>
                  <button nz-button nzType="default" (click)="removeAttribute($index)" type="button">Remove</button>
                </div>
              }
            </div>

            <button nz-button nzType="dashed" (click)="addAttribute()" type="button" style="margin-top: 10px;">+ Add Attribute</button>

            <div style="margin-top: 15px;">
              <button nz-button nzType="primary" htmlType="submit">Save Statistic</button>
              <button nz-button nzType="default" type="button" (click)="cancelStatisticForm()" style="margin-left: 20px">Cancel</button>
            </div>
          </form>
        </div>
      }
    }
  </nz-tab>


  <!-- Tab 3 -->
  <nz-tab nzTitle="Activities">
    <button nz-button nz-dropdown [nzDropdownMenu]="acitivitiesMenu">
      Select Activity
      <nz-icon nzType="down"></nz-icon>
    </button>
    <!-- 2-b) Display the campaigns/activities titles-->
    <nz-dropdown-menu #acitivitiesMenu="nzDropdownMenu">
      <ul nz-menu>
        @for (activity of activities; track activity.id){
          <li nz-menu-item (click)="onSelectedItem(activity)">{{activity.title}}</li>
        }
      </ul>
    </nz-dropdown-menu>

    @if (selectedItem) {
      <div style="margin-top: 30px; display: flex; gap: 20px; align-items: flex-start">
        <!--1st table: campaign table-->
        <nz-table [nzBordered]="true" [nzSize]="'small'" style="max-width: 60%" class="statistic-table">
          <thead>
          <tr>
            <th>Activity ID</th>
            <th>Activity Title</th>
            <th>Activity Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{selectedItem.id}}</td>
            <td>{{selectedItem.title}}</td>
            <td>{{selectedItem.description}}</td>
          </tr>
          </tbody>
        </nz-table>
        <!--1st table: campaign table-->
        <nz-table [nzBordered]="true" [nzSize]="'small'" style="max-width: 60%" class="statistic-table">
          <thead>
          <tr>
            <th>Statistic ID</th>
            <th>Edition year</th>
            <th>Attributes</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            @for (activityStat of statistics; track activityStat.id) {
              @if (activityStat.activityId == selectedItem.id) {
                <tr>
                  <td>{{ activityStat.id }}</td>
                  <td>{{ activityStat.yearEdition | date:'yyyy-MM-dd'}} </td>
                  <td>
                    <ul style="margin: 0; padding-left: 16px;">
                      @for (statAttributes of activityStat.attributes; track statAttributes.id) {
                        <li>{{ statAttributes.attributeName}}: {{statAttributes.attributeValue}} </li>
                      }
                    </ul>
                  </td>
                  <td>
                    <button nz-button nzType="default" nzDanger (click)="deleteStatistic(activityStat.id)" class="remove-stat-btn">
                      Remove
                    </button>
                  </td>
                </tr>
              }
            }
          </tbody>
        </nz-table>
      </div>
      <button nz-button nzType="primary" (click)="openStatisticForm()" class="ant-btn-primary">
        {{hasStatistics? 'Add': 'Create'}} new statistic
      </button>
    }

  </nz-tab>
</nz-tabs>







